<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Snow Leopard</string>
		<key>url</key>
		<string>https://configuration.apple.com/configurations/macosx/xprotect/1/clientConfiguration.plist</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lion</string>
		<key>url</key>
		<string>https://configuration.apple.com/configurations/macosx/xprotect/2/clientConfiguration.plist</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mountain Lion</string>
		<key>url</key>
		<string>https://configuration.apple.com/configurations/macosx/xprotect/3/clientConfiguration.plist</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mavericks</string>
		<key>surl</key>
		<string>https://swscan.apple.com/content/catalogs/others/index-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yosemite</string>
		<key>surl</key>
		<string>https://swscan.apple.com/content/catalogs/others/index-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yosemite Seed</string>
		<key>surl</key>
		<string>https://swscan.apple.com/content/catalogs/others/index-10.10seed-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Capitan</string>
		<key>surl</key>
		<string>https://swscan.apple.com/content/catalogs/others/index-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Capitan Seed</string>
		<key>surl</key>
		<string>https://swscan.apple.com/content/catalogs/others/index-10.11seed-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
	</dict>
	<dict>
		<key>data</key>
		<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/XProtect.plist</string>
		<key>meta</key>
		<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/XProtect.meta.plist</string>
		<key>name</key>
		<string>Local</string>
	</dict>
</array>
</plist>
